@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

@font-face { 
    font-family:'NanumSquare'; 
    src: url(../fonts/NanumSquareRegular.ttf) 
    format('truetype'); 
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-U+D7A3;
} 

@font-face { 
    font-family:'NanumSquareBold'; 
    src: url(../fonts/NanumSquareExtraBold.ttf) 
    format('truetype'); 
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+AC00-U+D7A3;
} 

@font-face { 
    font-family:'DINNextLTPro-Medium'; 
    src: url(../fonts/DINNextLTPro-Medium.otf)
} 

@font-face { 
    font-family:'DINNextLTPro-Bold'; 
    src: url(../fonts/DINNextLTPro-Bold.otf)
} 
/* Hide scrollbar for Chrome, Safari and Opera */
.div-no-scroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE and Edge */
.div-no-scroll {
-ms-overflow-style: none;
}



body { 
    font-family:'Noto Sans KR' ;
    background-color: #3d414e;
   
}
.p-limits {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    width:100%;
    overflow:hidden;
}
.p-limit {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    width:100%;
    overflow:hidden;
}
.p-bold {
    font-family:'Noto Sans KR' ;
    font-weight: bold;
}

.p-eng {
    font-family: 'Roboto' !important; 
    font-weight: bold;
}

.p-num {
    font-family: DINNextLTPro-Medium;
}

.p-num-b {
    font-family: DINNextLTPro-Bold;
}
a {
    cursor: pointer;
}

/* input 기본 스타일 초기화 */
input {
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
/* Select box 스타일 초기화 */ 
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
button {
    cursor: pointer;
	border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;	
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
    -webkit-appearance: none;
}
button:focus {
    outline: 0px;
}
img{
    margin: 0;
    padding: 0;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }